<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<!-- 配置安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="bosRealm"></property>
		<property name="cacheManager" ref="shiroCacheManager"></property>
	</bean>
	
	<!-- 对安全管理器 增强代码 ， spring 后处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	
	<!-- 定义Realm -->
	<bean id="bosRealm" class="cn.itcast.bos.realm.BosRealm">
		<property name="authorizationCacheName" value="bos"></property>
	</bean>
	
	<!-- shiroFilter的名称，要与web.xml中的过滤器的名称要一致 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 安全管理器 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 未认证，跳转到的页面 -->
		<property name="loginUrl" value="/login.jsp" />
		<!-- 认证后，跳转到的页面，登录成功的页面 -->
		<property name="successUrl" value="/index.jsp" />
		<!-- 认证后，没有权限跳转到的页面 -->
		<property name="unauthorizedUrl" value="/unauthorized.jsp" />
		<!-- shiro，URL控制过滤器规则 -->
		<property name="filterChainDefinitions">
			<value>
				/login.jsp* = anon
				/validatecode.jsp* = anon
				/user_login.action* = anon
				/css/** = anon
				/js/** = anon
				/images/** = anon
                /services/** = anon
                /pages/base/courier.jsp* = perms[courier:list]
				/pages/base/area.jsp* = roles[base]
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- 配置shiro的注解 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true"></property>
    </bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
</beans>