<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xsi:schemaLocation=
			"http://www.springframework.org/schema/beans
			 http://www.springframework.org/schema/beans/spring-beans.xsd
			 http://www.springframework.org/schema/context 
			 http://www.springframework.org/schema/context/spring-context.xsd
			 http://www.springframework.org/schema/data/elasticsearch
			 http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd">

	
	<!-- 扫描所有继承ElasticsearchRepository接口的接口类，使Elasticsearch的配置生效 -->
	<!-- 当 项目中使用了spring data jpa和spring data elasticsearch，注意不能把它们放置同一个包下 -->
	<elasticsearch:repositories base-package="cn.itcast.bos.index" />
	<!-- 创建Client -->
	<elasticsearch:transport-client id="client" cluster-nodes="localhost:9300" />
	<!-- 创建Elasticsearch的模板 -->
	<bean id="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="client"></constructor-arg>
	</bean>
</beans>